[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
djangorestframework = "*"
django-report-builder = "*"
django-filter = "*"
markdown = "*"

[requires]
python_version = "3.8"
