[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
djangorestframework = "*"
django-filter = "*"
markdown = "*"
django-allauth = "*"
django-report-builder = {editable = true, path = "/data/data/com.termux/files/home/storage/shared/Dev/BC/djangoReportFork/django-report-builder"}

[requires]
python_version = "3.8"
