{% extends "base.html" %}

{% block pageTitle %}Client{% endblock pageTitle %}
{% block content %}
<script>
    const xhr = new XMLHttpRequest()
    const method = 'GET'
    const url = "/this_client_data/"
    const responseType = "json"

    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = function(){
        const serverResponse = xhr.response
        const client = serverResponse.response
        console.log(client)
    }
    xhr.send()



</script>

{% endblock content %}
