{% extends "base.html" %}

{% block css %}
	#clientList{
        list-style:none;
        width:100%;
        height:100%;
        border-bottom:none;
    
    }
    
    img {
        width: 100%;
        height: 100%;
        display:block;
    }

    td a{
        display:block;
    }

{% endblock css%}


{% block pageTitle %}Roster{% endblock pageTitle %}
{% block content %}

<div class = "table-responsive">
	<table class="table" id="clientList">
        {% load staticfiles%}
		<thead>
			<tr>
				<th>Room</th>
				<th>Bed</th>
				<th>Photo</th>
				<th>Last Name</th>
				<th>First Name</th>
				<th>Cares ID</th>
				<th>LP/ON</th>
				<th>Sign</th>
			</tr>
		</thead>
		<tbody id="client">
		</tbody>
    </table>
</div>


<script>
   /*make table rows clickable*/
    jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.location = $(this).data("url");
    });
});
</script>

<script>
    const clientElement = document.getElementById("client") /*table body*/
    const xhr = new XMLHttpRequest()
    const method = 'GET' //http get method
    const url = "/rosterlist/" /*trailing slash important!!*/
    const responseType = "json"


    xhr.responseType = responseType
    xhr.open(method, url) /* open request with specified method at url */
    xhr.onload = function(){ /*upon loading execute this function */
        const serverResponse = xhr.response
        const clients = serverResponse.response
        var clientsList = "";
        var i;
        for(i=0;i<clients.length;i++){
            console.log(i)
            console.log(clients[i])
            imageurl = clients[i].image.url
            console.log(imageurl)
            var client = "<tr class='clickable-row' data-url='url://login/'><td>"+clients[i].roomNumber+"</td><td>"+clients[i].bed+"</td><td><a href ='/login/'><img src="+"'"+clients[i].image+"' alt='Man'/><a/></td><td>"+clients[i].lastname+"</td><td>"+clients[i].firstname+"</td><td>"+clients[i].caresID+"</td><td>"+clients[i].lpOn+"</td><td>"+clients[i].signature+"</td></tr>" /*to access Model attr remove '_'*/
            clientsList+=client;
        }
        clientElement.innerHTML = clientsList /* replace table body */
        console.log(clients)
    }
    xhr.send() /*triggers request */

</script>
{% endblock content %}
}
